.form {
    height: 500px;
    width: 1000px;
}

.icon {
    height: 100px;
    width: 100px;
}

.container{

    height: 500px;
    width: 1000px;
    
    

}

body{

    background: url(Asset/ondas.svg);
    background-size: cover;
    background-color: #22193F;
    
}