@font-face {
    font-family: 'nunito';
    src: url(Asset/Nunito/static/Nunito-Black.ttf);
    font-weight: bold;
   
}

@font-face {
    font-family: 'nunito-regular';
    src: url(Asset/Nunito/static/Nunito-Regular.ttf);
    font-weight: normal;
    
}

@font-face {
    font-family: 'nunito-bold';
    src: url(Asset/Nunito/static/Nunito-Bold.ttf);
    font-weight: bold;
}


.bg {

    background-image: url(Asset/img-login.jpg);
    background-size: cover;
    background-position: center center;
   

}

body {

    background-image: url(Asset/ondas.svg);
    background-repeat: no-repeat;
    background-color:#22193F;
    background-position-y: 545px;
    background-size: cover;
    
}

.title{

    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 28px;
    color: #22193F;

}

.link {

    font-family: 'Nunito-bold', sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #E21982;
}

.btn {

    font-family: 'Nunito-regular', sans-serif;
    position: relative;
    background-color: #E21982;
    font-size: 16px;

}

.btn:hover{

    background-color: #6A2A83;

}

.admin {

    position: relative;
    top: 220px;
    height: 70px;
}

.container {

    position: relative;
    top: 260px;
    width: 1100px;
    

}

.bi {

    position: relative;
    top: -32px;
    color: #6A2A83;
}

.form-control{

    border-color: #C4C4C4;
}