@font-face {
    font-family: 'nunito';
    src: url(Asset/Nunito/static/Nunito-Black.ttf);
    font-weight: bold;
   
}

@font-face {
    font-family: 'nunito-regular';
    src: url(Asset/Nunito/static/Nunito-Regular.ttf);
    font-weight: normal;
    
}

@font-face {
    font-family: 'nunito-bold';
    src: url(Asset/Nunito/static/Nunito-Bold.ttf);
    font-weight: bold;
}





body{

    background-image: url(Asset/ondas.svg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-color:#22193F;
    background-position: 0px 205px;
    
}
.form {

    height: 500px;
    width: 1000px;
}

.container{

    height: 965px;
    width: 1000px;
    
}



.title{

    position: relative;
    top: 15%;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-style: bold;
    margin-left: 25px;
    font-size: 28px;
    color: #22193F;

}

.linkolvi{
   
    position: relative;
    top: 20%;
    left: 43%;
    font-family: 'Nunito-bold', sans-serif;
    font-weight: bold;
    margin-left: 25px;
    font-size: 16px;
    color: #E21982;

}

.form-control{

    position: relative; 
    border-radius: 60px;
    width: 420px;
    margin-left: 25px;
    font-family:'Nunito-regular', sans-serif; 
    font-weight: normal;
    font-size: 16px;
    border-color: #C4C4C4;
    padding-left: 32px;
    
}

.btn{

    font-family: 'Nunito-bold', sans-serif;
    font-weight: bold;
    position: relative;
    top:40%;
    width: 420px;
    margin-left: 25px;
    border-radius: 60px;
    background-color: #E21982;
    color: white;
    font-size: 16px;
    padding: 10px;
    
}

.btn:hover{

    background-color: #8177ad;

}

.bi{
    position: relative;
    top: 24%;
    left: 7%;
    z-index: 1;
    color: #6A2A83;
    padding-left: 5px;
    
}

